// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$menu-sidebar-sm-columns:  3;
$main-sm-columns:          12-$menu-sidebar-sm-columns;
$menu-sidebar-md-columns:  2;
$main-md-columns:          12-$menu-sidebar-md-columns;

$mobile-menu-height:       72px;

// Colors
$brand-primary:         #FDC625;
$body-bg:               #212121;
$text-color:            #F5F5F5;
$link-hover-color:      #F9A825;

$brand-success:         #8BC34A;
$brand-info:            #03A9F4;
$brand-warning:         #FF9800;
$brand-danger:          #F44336;

$beer-list--white:      #F5F5F5;

$beer-list--red:        #FFCDD2;
$beer-list--orange:     #FFCCBC;
$beer-list--yellow:     #FFF9C4;
$beer-list--green:      #C8E6C9;
$beer-list--blue:       #BBDEFB;
$beer-list--purple:     #D1C4E9;

// Typography
$font-family-sans-serif: "Roboto Slab", "Helvetica Neue", Helvetica, sans-serif;
$headings-font-weight:  400;

$font-size-base:        14px;

// Components
$border-radius-base:    0;

// Shadows
$shadow-key-umbra-opacity: 0.2 !default;
$shadow-key-penumbra-opacity: 0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;
